# ML Model Training and Persistence - Prototyping Notebook

This notebook is part of **Story 2.1: ML Model Training and Persistence**.

Goals:
- Load football match data from SQLite.
- Preprocess features.
- Train a classifier on match outcomes.
- Save the trained model for inference.

Steps:
1. Setup and Data Loading
2. Data Exploration
3. Data Preprocessing
4. Model Training, Evaluation, and Persistence

## 1. Setup and Data Loading

In [4]:
import sqlite3
import pandas as pd
import os
from pandas.io.sql import DatabaseError

# Path to database
db_path = '../football.db'

if not os.path.exists(db_path):
    raise FileNotFoundError(f"Database '{db_path}' not found. Run db_setup.py first.")

conn = sqlite3.connect(db_path)

try:
    df = pd.read_sql_query("SELECT * FROM matches", conn)
    print(f"‚úÖ Loaded {len(df)} rows from 'matches' table")
except DatabaseError as e:
    df = pd.DataFrame()
    print(f"‚ùå Error loading data: {e}")
finally:
    conn.close()

‚úÖ Loaded 1508 rows from 'matches' table

## 2. Data Exploration

In [5]:
if df.empty:
    print("‚ùå DataFrame is empty. Cannot proceed.")
else:
    display(df.head())
    print("\nDataFrame Info:")
    display(df.info())
    print("\nData Description:")
    display(df.describe(include='all'))

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,B1,2024-09-01,18:15:00,Kortrijk,St Truiden,1,1,D,0.0,1.0,...,1.84,-0.25,1.75,2.05,1.79,2.11,1.83,2.12,1.78,2.05
1,B1,2024-09-01,17:30:00,St. Gilloise,Anderlecht,0,0,D,0.0,0.0,...,1.98,-0.50,1.93,1.93,1.94,1.94,2.00,1.94,1.95,1.85
2,B1,2024-09-01,15:00:00,Gent,Antwerp,1,1,D,1.0,1.0,...,2.13,0.00,1.80,2.05,1.85,2.05,1.91,2.06,1.84,2.00
3,B1,2024-09-01,12:30:00,Club Brugge,Cercle Brugge,3,0,H,2.0,0.0,...,2.58,-1.00,1.90,1.95,1.93,1.96,1.93,2.01,1.88,1.93
4,B1,2024-08-31,19:45:00,Oud-Heverlee Leuven,Standard,2,0,H,1.0,0.0,...,1.80,-0.50,1.98,1.88,1.96,1.93,1.98,1.93,1.95,1.86

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1508 entries, 0 to 1507
Data columns (total 93 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Div        1508 non-null   object
 1   Date       1508 non-null   object
 2   Time       1508 non-null   object
 3   HomeTeam   1508 non-null   object
 4   AwayTeam   1508 non-null   object
 5   FTHG       1508 non-null   int64
 6   FTAG       1508 non-null   int64
 7   FTR        1508 non-null   object
 8   HTHG       1504 non-null   float64
 9   HTAG       1504 non-null   float64
 10  HTR        1504 non-null   object
 11  HS         1503 non-null   float64
 12  AS         1503 non-null   float64
 13  HST        1503 non-null   float64
 14  AST        1503 non-null   float64
 15  HF         1503 non-null   float64
 16  AF         1503 non-null   float64
 17  HC         1503 non-null   float64
 18  AC         1503 non-null   float64
 19  HY         1504 non-null   float64
 20  AY         1504 non-null   float64
 21  HR         1504 non-null   float64
 22  AR         1504 non-null   float64
 23  B365H      1507 non-null   float64
 24  B365D      1507 non-null   float64
 25  B365A      1507 non-null   float64
 26  BWH        1505 non-null   float64
 27  BWD        1505 non-null   float64
 28  BWA        1505 non-null   float64
 29  PSH        1504 non-null   float64
 30  PSD        1504 non-null   float64
 31  PSA        1504 non-null   float64
 32  WHH        1159 non-null   float64
 33  WHD        1159 non-null   float64
 34  WHA        1159 non-null   float64
 35  MaxH       1508 non-null   float64
 36  MaxD       1508 non-null   float64
 37  MaxA       1508 non-null   float64
 38  AvgH       1508 non-null   float64
 39  AvgD       1508 non-null   float64
 40  AvgA       1508 non-null   float64
 41  B365>2.5   1507 non-null   float64
 42  B365<2.5   1507 non-null   float64
 43  P>2.5      1504 non-null   float64
 44  P<2.5      1504 non-null   float64
 45  Max>2.5    1508 non-null   float64
 46  Max<2.5    1508 non-null   float64
 47  Avg>2.5    1508 non-null   float64
 48  Avg<2.5    1508 non-null   float64
 49  AHh        1508 non-null   float64
 50  B365AHH    1504 non-null   float64
 51  B365AHA    1504 non-null   float64
 52  PAHH       1504 non-null   float64
 53  PAHA       1504 non-null   float64
 54  MaxAHH     1508 non-null   float64
 55  MaxAHA     1508 non-null   float64
 56  AvgAHH     1508 non-null   float64
 57  AvgAHA     1508 non-null   float64
 58  B365CH     1508 non-null   float64
 59  B365CD     1508 non-null   float64
 60  B365CA     1508 non-null   float64
 61  BWCH       1500 non-null   float64
 62  BWCD       1500 non-null   float64
 63  BWCA       1500 non-null   float64
 64  PSCH       1508 non-null   float64
 65  PSCD       1508 non-null   float64
 66  PSCA       1508 non-null   float64
 67  WHCH       1153 non-null   float64
 68  WHCD       1153 non-null   float64
 69  WHCA       1153 non-null   float64
 70  MaxCH      1508 non-null   float64
 71  MaxCD      1508 non-null   float64
 72  MaxCA      1508 non-null   float64
 73  AvgCH      1508 non-null   float64
 74  AvgCD      1508 non-null   float64
 75  AvgCA      1508 non-null   float64
 76  B365C>2.5  1508 non-null   float64
 77  B365C<2.5  1508 non-null   float64
 78  PC>2.5     1508 non-null   float64
 79  PC<2.5     1508 non-null   float64
 80  MaxC>2.5   1508 non-null   float64
 81  MaxC<2.5   1508 non-null   float64
 82  AvgC>2.5   1508 non-null   float64
 83  AvgC<2.5   1508 non-null   float64
 84  AHCh       1508 non-null   float64
 85  B365CAHH   1508 non-null   float64
 86  B365CAHA   1508 non-null   float64
 87  PCAHH      1508 non-null   float64
 88  PCAHA      1508 non-null   float64
 89  MaxCAHH    1508 non-null   float64
 90  MaxCAHA    1508 non-null   float64
 91  AvgCAHH    1508 non-null   float64
 92  AvgCAHA    1508 non-null   float64
dtypes: float64(84), int64(2), object(7)
memory usage: 1.1+ MB

None

Data Description:

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
count,1508,1508,1508,1508,1508,1508.000000,1508.000000,1508,1504.000000,1504.000000,...,1508.000000,1508.000000,1508.000000,1508.000000,1508.000000,1508.000000,1508.000000,1508.000000,1508.000000,1508.000000
unique,1,566,18,23,23,NaN,NaN,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,B1,2023-04-23,19:45:00,Gent,St Truiden,NaN,NaN,H,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1508,8,314,89,89,NaN,NaN,658,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,1.594828,1.323607,NaN,0.706782,0.580452,...,2.208820,-0.253481,1.921187,1.927712,1.943607,1.950351,1.998137,2.004595,1.913833,1.920670
std,NaN,NaN,NaN,NaN,NaN,1.319910,1.184415,NaN,0.849128,0.753022,...,0.326122,0.779494,0.092483,0.092205,0.091927,0.091882,0.094537,0.098014,0.084488,0.085021
min,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,NaN,0.000000,0.000000,...,1.500000,-2.750000,1.600000,1.700000,1.710000,1.730000,1.800000,1.760000,1.720000,1.720000
25%,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,NaN,0.000000,0.000000,...,1.980000,-0.750000,1.850000,1.850000,1.880000,1.880000,1.920000,1.930000,1.850000,1.850000
50%,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,NaN,1.000000,0.000000,...,2.160000,-0.250000,1.930000,1.930000,1.930000,1.950000,2.000000,2.000000,1.910000,1.920000
75%,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,NaN,1.000000,1.000000,...,2.382500,0.250000,2.000000,2.000000,2.012500,2.020000,2.070000,2.070000,1.980000,1.990000
max,NaN,NaN,NaN,NaN,NaN,7.000000,7.000000,NaN,5.000000,4.000000,...,3.810000,2.000000,2.200000,2.300000,2.190000,2.220000,2.400000,2.420000,2.160000,2.150000

## 3. Data Preprocessing

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import numpy as np

# Nettoyage de base et d√©finition des features
df = df.dropna(subset=['HomeTeam', 'AwayTeam', 'FTR'])  # cible et √©quipes pr√©sentes
X = df[['HomeTeam', 'AwayTeam', 'HS', 'AS']]             # s√©lection de features
y = df['FTR']                                            # cible : r√©sultat final

# D√©finition des colonnes
categorical_features = ['HomeTeam', 'AwayTeam']
numerical_features = ['HS', 'AS']

# Pipelines
numeric_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),
    ('scaler', StandardScaler())
])

categorical_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Fusion des pipelines
preprocessor = ColumnTransformer([
    ('num', numeric_pipeline, numerical_features),
    ('cat', categorical_pipeline, categorical_features)
])

# Split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print("‚úÖ Data preprocessing pipeline with imputers is ready.")

‚úÖ Data preprocessing pipeline with imputers is ready.

## 4. Model Training, Evaluation, and Persistence

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import joblib

# Full pipeline: preprocessing + model
model_pipeline = Pipeline([
    ('preprocess', preprocessor),
    ('classifier', RandomForestClassifier(random_state=42))
])

# Training
model_pipeline.fit(X_train, y_train)

# Evaluation
y_pred = model_pipeline.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"üéØ Model Accuracy: {accuracy:.2f}")

# Persistence
os.makedirs('models', exist_ok=True)
model_path = 'models/prediction_model.pkl'
joblib.dump(model_pipeline, model_path)
print(f"üíæ Model saved to {model_path}")

üéØ Model Accuracy: 0.44
üíæ Model saved to models/prediction_model.pkl